{% extends "base.html" %}
{% block content %}

<h1>User Login</h1>

<form method="POST" action="/login">
	{{form.hidden_tag()}}
	<div class="form-group">
		{{ form.username.label(class='control-label') }}
		{{form.username(class='form-control')}}
	</div>
	<div class="form-group">
		{{ form.password.label(class="control-label") }}
		{{ form.password(class="form-control") }}
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">LogIn</button>
	</div>
</form>

{% endblock %}
